<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean class="com.nwpu.jzoffer.pojo.Address" id="address3">
        <property name="myCity">
            <value>武汉</value>
        </property>
    </bean>
    <bean class="User" id="user">
        <property name="myId" value="2020262947" />
        <property name="myAge">
            <value>25</value>
        </property>
        <property name="myName" >
            <value>张三</value>
        </property>
        <property name="myBirthday" >
            <bean class="java.util.Date"/>
        </property>
        <property name="myAddress">
           <ref bean="address3"/>
        </property>

        <property name="myHob">
            <array>
                <value>吃饭</value>
                <value>睡觉</value>
                <value>打豆豆</value>
            </array>
        </property>

        <property name="myAddrs" >
         <list>
             <bean class="com.nwpu.jzoffer.pojo.Address" id="address" >
                 <property name="myCity">
                     <value>北京</value>
                 </property>
             </bean>
             <bean class="com.nwpu.jzoffer.pojo.Address" id="address2" >
                 <constructor-arg name="myCity" value="上海"></constructor-arg>
             </bean>
         </list>
        </property>

        <property name="myCard">
            <set>
                <bean class="com.nwpu.jzoffer.pojo.MyCard">
                    <property name="cardId" value="790789702834" />
                    <property name="balance" value="1"/>
                </bean>
                <bean class="com.nwpu.jzoffer.pojo.MyCard">
                    <property name="cardId">
                        <value>
                            1237972349
                        </value>
                    </property>
                    <property name="balance">
                        <value>200.0</value>
                    </property>
                </bean>
            </set>
        </property>

        <property name="cardMap">
            <map>
                <entry key="建行">
                    <bean class="com.nwpu.jzoffer.pojo.MyCard">
                        <property name="cardId" value="123123113212312"/>
                        <property name="balance" value="234.0"/>
                    </bean>
                </entry>
                <entry key="农行">
                    <bean class="com.nwpu.jzoffer.pojo.MyCard">
                        <property name="cardId" value="778979724224"/>
                        <property name="balance" value="890.0"/>
                    </bean>
                </entry>
            </map>
        </property>
        <property name="info">
            <props>
                <prop key="driver">com.mysql.jdbc.Driver</prop>
                <prop key="username">root</prop>
                <prop key="password">root</prop>
            </props>
        </property>

    </bean>

</beans>