<?xml version="1.0" encoding="UTF-8"?>
<!--
    xmls: xml namespace , 当前配置文件默认使用哪个命名空间
    xmnls
-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">
<!--    无参构造函数-->
<!--    <bean class="com.nwpu.pojo.User" id="user" />-->
<!--    调用有参构造函数创建对象-->
<!--    <bean class="com.nwpu.pojo.User" id="user">-->
<!--       <constructor-arg name="id"  index="0"  type="java.lang.Integer" value="123"/>-->
<!--        <constructor-arg name="name" index="1" type="java.lang.String" value="张三" />-->
<!--    </bean>-->
<!--    调用构造工厂来构造对象-->
<!--    <bean class="com.nwpu.factory.UserFactory" id="userFactory" />-->
<!--    <bean factory-bean="userFactory" factory-method="getInstance" />-->
<!--    调用静态工厂来构造对象-->
    <bean class="com.nwpu.factory.StaticUserFactory"  id="userFactory" factory-method="getInstance" />
</beans>