<?xml version="1.0" encoding="UTF-8"?>
<!--
    xmls: xml namespace , 当前配置文件默认使用哪个命名空间
    xmnls
-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean class="com.nwpu.pojo.User" id="user" />
</beans>